@media only screen and (min-width: 425px) and (max-width: 767px) {
  body {
    height: auto;
    width: 100vw;
    .tone {
      height: 105%;
    }
  }

  .navbar-toggler {
    border: 2px solid white;
  }
.collapse {
  .navlist {
    flex-direction: column;
    padding: 10px 0;

    .nav-link {
      font-size: large;
    }
  }
  .navbar-nav {
    margin: 0;
  }
}
  .home-page {
    .main {
      flex-direction: column;
      width: 100%;
      margin: 0%;
      text-align: center;
      .about-div {
        width: 100%;
        h1 {
          font-size: 31px;
        }
        p {
          font-size: 16px;
          margin: 0 10%;
        }
        .buttons {
          flex-direction: column;
          align-items: center;
          margin-top: 20px; /* Add space to buttons */
          .hire, .skills {
            width: 150px;
            height: 50px;
            font-size: 20px;
            margin-bottom: 10px; /* Space between buttons */
          }
        }
      }
      .image-div {
        width: 80%;
        margin: 20px auto; /* Center the image */
        img {
          max-width: 100%;
          border-radius: 10%;
        }
      }
    }
  }
  .education-page {
    display: flex;
    justify-content: center;
    .main {
      width: 90%;
      margin: 20% 0%;
      .left-side-main {
        align-content: start;
        margin: 0%;
      }
      h1 {
        font-size: 20px; /* Reduced size */
        margin: 5%;
      }
      p {
        margin: 5%;
        font-size: 14px; /* Reduced size */
      }
    }
  }
  .skills-page {
    margin-bottom: 20%;
    .main {
      width: 90%;
      text-align: center;
      h1 {
        font-size: 30px; /* Reduced size */
      }
      .grid-item {
        img {
          margin-top: 4%;
          max-width: 30%; /* Reduced size */
        }
        h2 {
          font-size: 20px; /* Reduced size */
        }
      }
      .grid-container {
        grid-template-columns: 1fr;
      }
    }
  }
  .works-page {
    margin: 20% 0%;
    .main {
      width: 90%;
      text-align: center;
      h1 {
        font-size: 30px;
      }
      .grid-container {
        grid-template-columns: 1fr;
        .grid-item {
          h2 {
            font-size: 20px; font-weight: 600;
            padding-left: 2%;
          }
        }

      }
    }
  }
  .contacts-page {
    .main {
      margin-top: 10%;
      width: 90%;
      text-align: center;
      .texts {
        margin-bottom: 10%;
        h1 {
          font-size: 26px; /* Reduced size */
        }
        h2 {
          font-size: 14px; /* Reduced size */
        }
      }
      img {
        max-width: 3em; /* Reduced size */
      }
      .icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2-column layout */
        gap: 20px;
      }
    }
  }
}
    